.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--primary-box-shadow);
}

.av-sm {
    width: 40px;
    height: 40px;
}

.av-md {
    width: 60px;
    height: 60px;
}

.av-lg {
    width: 80px;
    height: 80px;
}

.av-blue {
    background-color: var(--lt-blue);
    color: var(--dk-blue);

}

.av-green {
    background-color: var(--lt-green);
    color: var(--dk-green);
}

.av-yellow {
    background-color: var(--lt-yellow);
    color: var(--dk-yellow);
}

.av-pink {
    background-color: var(--lt-pink);
    color: var(--dk-pink);
}