<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="/styles.css" />

    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
    <!--fontawesome icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Avatars</title>
  </head>
  <body>
    <section>
      <div id="avatars" class="sections">
        <h1>Avatars</h1>
        <p>
          Avatars are used to show a thumbnail representation of an individual
          or business in the interface.
        </p>
        <div class="showcomp">
          <h3 class="secondary-txt-showcase">@image</h3>
          <div class="row-av">
            <img src="/images/ash.png" alt="" class="avatar" />
            <img src="/images/misti.png" alt="" class="avatar" />
            <img src="/images/brock.png" alt="" class="avatar" />
          </div>

          <h3 class="secondary-txt-showcase">@letter avatars</h3>

          <div class="row-av">
            <div class="avatar av-dm av-blue">J</div>
            <div class="avatar av-dm av-pink">D</div>
            <div class="avatar av-dm av-yellow">K</div>
          </div>

          <h3 class="secondary-txt-showcase">@icon avatars</h3>
          <div class="row-av">
            <div class="avatar av-sm av-pink">
              <i class="fa fa-instagram" style="color: #e61961"></i>
            </div>
            <div class="avatar av-sm av-blue">
              <i class="fa fa-twitter" style="color: #2cd1f2"></i>
            </div>
            <div class="avatar av-sm av-green">
              <i class="fa fa-whatsapp" style="color: #29d612"></i>
            </div>
          </div>
          <h3 class="secondary-txt-showcase">@size avatars</h3>
          <div class="row-av">
            <img src="/images/ash.png" alt="" class="avatar av-sm" />
            <img src="/images/misti.png" alt="" class="avatar av-md" />
            <img src="/images/brock.png" alt="" class="avatar av-lg" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
