/* Images */

.img-res {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}

.img-cir {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;

}