<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./images.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Images</title>
  </head>
  <body>
    <section>
      <div id="images" class="sections">
        <h1>Images</h1>
        <p>Helps the user to recognize easily.</p>
        <div class="showcomp">
          <div class="row">
            <div>
              <h3 class="secondary-txt-showcase">@Responsive Images</h3>
              <img src="/images/ash.png" alt="" class="img-res" />
            </div>
            <div>
              <h3 class="secondary-txt-showcase">@Round Image</h3>
              <img src="/images/brock.png" alt="" class="img-cir" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
