<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/components/Avatars/avatar.css" />
    <link rel="stylesheet" href="/components.css" />
    <link rel="stylesheet" href="./badge.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
    <!--fontawesome icons  -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Badges</title>
  </head>
  <body>
    <section id="sections">
      <h1>Badges</h1>
      <p>Badges are used to inform user of the status of specific data.</p>
      <div class="showcomp">
        <h3 class="secondary-txt-showcase">@Badge on Avatars</h3>
        <div class="row">
          <div class="badge-av">
            <img src="/images/ash.png" alt="" class="avatar" />
            <div class="badge green bdg-bttm"></div>
          </div>
          <div class="badge-av">
            <img src="/images/misti.png" alt="" class="avatar" />
            <div class="badge yellow bdg-bttm"></div>
          </div>
          <div class="badge-av">
            <img src="/images/brock.png" alt="" class="avatar" />
            <div class="badge pink bdg-bttm"></div>
          </div>
        </div>
        <h3 class="secondary-txt-showcase">@Badge on Icons</h3>
        <div class="row">
          <div class="badge-av">
            <div class="badge-icon green bdg-top">8</div>
            <div class="avatar av-green">
              <i class="fa fa-bell" style="color: var(--dk-green)"></i>
            </div>
          </div>

          <div class="badge-av">
            <div class="badge-icon pink bdg-top">11</div>
            <div class="avatar av-pink">
              <i class="fa fa-heart" style="color: var(--dk-pink)"></i>
            </div>
          </div>

          <div class="badge-av">
            <div class="badge-icon yellow bdg-top">25</div>
            <div class="avatar av-yellow">
              <!-- <i class="fa fa-heart" style="color: var(--dk-yellow)"></i> -->
              <i
                class="fa fa-shopping-cart"
                style="color: var(--dk-yellow)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
