<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
    <!--fontawesome icons  -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Buttons</title>
  </head>
  <body>
    <section>
      <div id="buttons" class="sections">
        <h1>Buttons</h1>
        <p>Buttons allows user to take actions or make choices.</p>
        <div class="showcomp">
          <div class="row">
            <div>
              <h3 class="secondary-txt-showcase">primary button</h3>
              <button class="btn green">Primary Button</button>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">secondary button</h3>
              <button class="btn sec-green">Secondary Button</button>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">tertiary button</h3>
              <button class="btn tri-green">Tertiary Button</button>
            </div>
          </div>
          <h2 class="primary-txt-showcase">@Links</h2>
          <div class="row">
            <div>
              <h3 class="secondary-txt-showcase">primary link</h3>
              <a href="#" class="link pink">Primary Link</a>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">secondary link</h3>
              <a href="#" class="link sec-pink">Secondary Link</a>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">tertiary link</h3>
              <a href="#" class="link tri-pink">Tertiary Link</a>
            </div>
          </div>
          <h2 class="primary-txt-showcase">@Icon with Text Button</h2>

          <div class="row">
            <div>
              <h3 class="secondary-txt-showcase">@primary button</h3>
              <button class="btn blue">
                <i class="fa fa-heart"></i> Primary Button
              </button>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">@secondary button</h3>
              <button class="btn sec-blue">
                <i class="fa fa-shopping-cart"></i> Secondary Button
              </button>
            </div>
            <div>
              <h3 class="secondary-txt-showcase">@tertiary button</h3>
              <button class="btn tri-blue">
                <i class="fa fa-twitter"></i> Tertiary Button
              </button>
            </div>
          </div>
          <div class="row">
            <div>
              <h3 class="secondary-txt-showcase">@Floating Action Button</h3>
              <div class="row">
                <div>
                  <h3 class="secondary-txt-showcase">primary button</h3>
                  <button class="floating-act yellow">
                    <i class="fa fa-lg fa-plus"></i>
                  </button>
                </div>
                <div>
                  <h3 class="secondary-txt-showcase">secondary button</h3>
                  <button class="floating-act sec-pink">
                    <i class="fa fa-lg fa-plus"></i>
                  </button>
                </div>
                <div>
                  <h3 class="secondary-txt-showcase">tertiary button</h3>
                  <button class="floating-act sec-blue">
                    <i class="fa fa-lg fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
