<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./toast.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Toast</title>
  </head>
  <body>
    <section>
      <div id="toast" class="sections">
        <h1>Toast</h1>
        <p>Toast displays the message.</p>
        <div class="showcomp">
          <h3 class="secondary-txt-showcase">@Simple Toast</h3>
          <div class="toast tl-error">
            <div class="tl-content-error">
              <i class="fa fa-exclamation-circle"></i>
              <p>This is a message</p>
            </div>
          </div>
          <h3 class="secondary-txt-showcase">@Toast with Title</h3>
          <div class="toast-lg tl-info">
            <!-- <i class="fas fa-lightbulb" style="color: #f6ee04"></i> -->
            <i class="fa fa-exclamation-circle"></i>

            <div>
              <h3>Tip Of the Day</h3>
              <p>
                The Tip of the Day app allows the site administrator to
                categorize certain content as tips that will be shown to the
                user on a periodic basis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
