<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./navigation.css" />
    <link rel="stylesheet" href="/components/Buttons/button.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Navigation</title>
  </head>
  <body>
    <section>
      <div id="navigation" class="sections">
        <h1>Navigation</h1>
        <p>
          Convey meaning through color with a handful of color utility classes.
        </p>
        <h3>--- Simple Navbar</h3>
        <header class="navbar">
          <div class="logo">
            <a href="/"
              ><img class="logo-img" src="/images/honeypot.png" alt="Logo"
            /></a>
            <p>Honey</p>
            <!-- <a href="/"><p class="logo-txt">preKit</p></a> -->
          </div>

          <nav class="header-nav">
            <ul class="header-nav-ul">
              <li class="nav-list-item"><a>Getting Started</a></li>
              <li class="nav-list-item"><a>Foundation</a></li>
              <li class="nav-list-item"><a>Components</a></li>
              <li class="nav-list-item"><a>Resources</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </section>
  </body>
</html>
