<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./rating.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Ratings</title>
  </head>
  <body>
    <section>
      <div id="rating" class="sections">
        <h1>Ratings</h1>
        <p>
          Rating is a set of radio buttons that allow the user to rate
          something.
        </p>
        <div class="showcomp">
          <h3 class="secondary-txt-showcase">--- Star Ratings</h3>
          <div class="star-ratings">
            <i class="fa fa-lg fa-star checked"></i>
            <i class="fa fa-lg fa-star checked"></i>
            <i class="fa fa-lg fa-star checked"></i>
            <i class="fa fa-lg fa-star"></i>
            <i class="fa fa-lg fa-star"></i>
          </div>

          <h3 class="secondary-txt-showcase">--- Badge Ratings</h3>
          <div class="badge-ratings">
            <p>4.5</p>
            <i class="fa fa-lg fa-star"></i>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
