<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./modal.css" />
    <link rel="stylesheet" href="/components/Buttons/button.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Modal</title>
  </head>
  <body>
    <section>
      <div id="modal" class="sections">
        <h1>Modal</h1>
        <p>Modal is used to show a dialog or a box when you click a button.</p>
        <div class="showcomp">
          <h3 class="secondary-txt-showcase">--- Simple Modal</h3>

          <div class="modal">
            <div class="modal-header">
              <span><i class="fa fa-lg fa-exclamation-triangle"></i></span>
              <h3>Congratulations random user!</h3>
            </div>
            <p>
              You've been selected for a chance to get one year of subscription
              to use Wikipedia for free!
            </p>
            <div class="actn-btns">
              <button class="btn tri-green">Tertiary button</button>
              <button class="btn green">Primary Button</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
