<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./alert.css" />
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="../Typography/typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />

    <title>Alerts</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <section>
      <div id="alerts" class="sections">
        <h1>Alerts</h1>
        <p>
          Convey's meaning with the help of colors assignes to different states.
        </p>
        <div class="showcomp">
          <div class="column-av">
            <h3 class="secondary-txt-showcase">@error alert</h3>
            <div class="alert al-error">
              <i
                class="fa fa-exclamation-circle"
                style="color: var(--dk-pink)"
              ></i>
              <p>Error! Task failed successfully.</p>

              <i class="fa fa-close" style="color: var(--dk-pink)"></i>
            </div>

            <h3 class="secondary-txt-showcase">@warning alert</h3>
            <div class="alert al-warning">
              <i class="fa fa-warning" style="color: var(--dk-yellow)"></i>

              <p>Warning: Invalid email address!</p>

              <i class="fa fa-close" style="color: var(--dk-yellow)"></i>
            </div>

            <h3 class="secondary-txt-showcase">@info alert</h3>
            <div class="alert al-info">
              <i class="fa fa-info-circle" style="color: var(--dk-blue)"></i>

              <p>New software update available.</p>

              <i class="fa fa-close" style="color: var(--dk-blue)"></i>
            </div>

            <h3 class="secondary-txt-showcase">@success alert</h3>
            <div class="alert al-success">
              <i class="fa fa-check-circle" style="color: var(--dk-green)"></i>

              <p>Your purchase has been confirmed!</p>

              <i class="fa fa-close" style="color: var(--dk-green)"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
